* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: #eaeaea;
    height: 100vh;
}

.icon {
    display: inline-block;
}

.icon svg {
    height: 50px;
    width: 50px;
}

.bomb {

}

.icon[data-state="do-delay"] svg {
    animation: blink 750ms ease-out 0ms infinite;
}

.icon[data-state="do-explode"] svg {
    color: transparent;
    fill: red;
    opacity: 0.1;
    animation: explode 300ms ease-out;
}

@keyframes blink {
    0% {
        color: transparent;
        transform: scale(1);
    }
    35% {
        color: orange;
    }
    50% {
        color: transparent;
        transform: scale(1.02);
    }
    85% {
        color: orange;
    }
    100% {
        color: transparent;
        transform: scale(1);
    }
}

@keyframes explode {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
        opacity: 0.1;
    }
}